@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@400;500&family=Poppins&family=Sigmar+One&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: saturate(50%) blur(8px);
  padding: 6px 40px;
  background: rgb(177, 177, 177);
  -webkit-box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.68);
  -moz-box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.68);
  box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.68);
}

.container h2 {
  /* font-size: 20px; */
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
}

.left-cont {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left-cont img {
  width: 60px;
  gap: 20px;
}

.heading {
  font-size: 26px;
}

.div-- {
  /* background: #111; */
  /* Created with https://www.css-gradient.com */
  background: #010101;
  background: -webkit-radial-gradient(bottom right, #010101, #252525);
  background: -moz-radial-gradient(bottom right, #010101, #252525);
  background: radial-gradient(to top left, #010101, #252525);
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Created with https://www.css-gradient.com */
  background: #010101;
  background: -webkit-radial-gradient(bottom right, #010101, #252525);
  background: -moz-radial-gradient(bottom right, #010101, #252525);
  background: radial-gradient(
    to top left,
    #010101,
    #252525
  ); /* max-width: 800px; */
  padding-bottom: 10px;
}

.form-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.input {
  width: 200px;
  padding: 4px 12px;
  outline: none;
  letter-spacing: 1px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.btn {
  width: 480px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(25, 25, 25), rgb(49, 49, 49));
  color: azure;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.25px;
  font-weight: 700;
  border: 0.2px solid rgb(80, 80, 80);
}

.img-image {
  width: 30px;
  margin-left: 20px;
}

.meme {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meme-image {
  margin-top: 12px;
  width: 600px;
  height: 580px;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.68);
  -moz-box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.68);
  box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.68);
  border-radius: 8px;
  /* height: 600px; */
}

.meme--text {
  font-size: 38px;
  color: rgb(212, 212, 212);
  letter-spacing: 1.75px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  font-family: "Sigmar One", cursive;
  font-weight: 400;
}

.top {
  position: absolute;
  top: 10px;
}

.bottom {
  position: absolute;
  bottom: 10px;
}
