@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@400;500&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 40px;
  background-image: linear-gradient(
    to right,
    rgb(0, 119, 12),
    rgb(120, 232, 0)
  );
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.7);
}

.container h2 {
  /* font-size: 20px; */
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.left-cont {
  display: flex;
  align-items: center;
  gap: 20px;
}

.left-cont img {
  width: 60px;
  gap: 20px;
}

.heading {
  font-size: 26px;
}

.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-width: 800px; */
}

.form-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.input {
  width: 200px;
  padding: 4px 12px;
  outline: none;
  letter-spacing: 1px;
  border-radius: 8px;
  font-size: 23px;
  font-weight: bolder;
  font-stretch: expanded;
  font-family: "Amatic SC", cursive;
}

.btn {
  width: 480px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgb(0, 119, 12),
    rgb(120, 232, 0)
  );
  color: azure;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.25px;
  font-weight: 700;
  border: 0.2px solid rgb(80, 80, 80);
}

.img-image {
  width: 30px;
  margin-left: 20px;
}

.meme-image {
  margin-top: 12px;
  width: 500px;
  height: 580px;
  border: 5px solid black;
  border-radius: 8px;
  /* height: 600px; */
}
