* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.Navbar-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to right,
    rgb(42, 42, 42),
    rgb(56, 56, 56),
    rgb(64, 64, 64),
    rgb(70, 70, 70),
    rgb(76, 76, 76)
  );
  padding-bottom: 5px;
  box-shadow: 0 0 10px white;
}
.navbar-name {
  font-size: 32px;
  padding: 15px 25px;
  letter-spacing: 2px;
  font-weight: 500;
}

.navbar-links {
  display: flex;
  align-items: center;
  padding: 0 45px;
}

.buziboard {
  padding-left: 15px;
  letter-spacing: 1.2px;
  font-weight: 400;
  text-decoration: none;
  color: rgb(0, 0, 0);
  /* letter-spacing: 2px; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.link {
  padding-left: 50px;
  letter-spacing: 1.2px;
  font-weight: 500;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.card-- {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #111;

  /* align-items: center; */
  /* margin: 30px 50px; */
}

.card--0 {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 20px; */
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-top h3 {
  padding: 8px;
  margin-left: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}

.btn {
  padding: 8px;
  margin: 15px 15px 0 0;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: 0.5s ease-in-out;
}

.btn:hover {
  color: white;
  background-image: linear-gradient(
    to left,
    rgb(108, 108, 108),
    rgb(178, 178, 178)
  );
}

.card {
  margin: 25px;
  background-image: linear-gradient(
    to bottom right,
    grey,
    rgb(197, 197, 197),
    white
  );
  /* background-color: rgb(228, 228, 228); */
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.card-main {
  display: flex;
  width: 435px;
  padding: 10px 15px;

  /* border: 0.1px solid rgb(149, 149, 149); */
  /* box-shadow: -2px -5px rgba(0, 0, 0, 0.25); */
}

.card-img {
  padding-right: 25px;
}

.card-img img {
  width: 220px;
  border-radius: 12px;
}

.card-details {
  margin-top: 20px;
}

/* .name-userName {
  display: flex;
  align-items: center;
  /* justify-content: space-between;
 } */

.Name {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 5px;
}

.nickname {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 200;
  margin-left: auto;
  margin-bottom: 5px;
}

.card-email {
  font-weight: 400;
  margin-bottom: 5px;
}

.card-address-1 {
  font-weight: 400;
  letter-spacing: 0.2px;
  margin-bottom: 3px;
}
.card-address-2 {
  font-weight: 400;
  letter-spacing: 0.2px;
  margin-bottom: 3px;
}
.card-address-3 {
  font-weight: 400;
  letter-spacing: 0.2px;
  margin-bottom: 3px;
}

.card-mobile {
  margin-bottom: 5px;
}

.card-website {
  margin-bottom: 5px;
}
