@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@400;500&family=Poppins&family=Sigmar+One&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.Navbar-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: saturate(50%) blur(8px);
  background: rgba(255, 255, 255, 0.85);
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 8px 25px 1px rgba(163, 163, 163, 0.6);
  -moz-box-shadow: 0px 8px 25px 1px rgba(163, 163, 163, 0.6);
  box-shadow: 0px 8px 25px 1px rgba(163, 163, 163, 0.6);
  position: sticky;
  top: 0;
  left: 0;
}
.navbar-name {
  font-size: 32px;
  padding: 15px 25px;
  letter-spacing: 2px;
  font-weight: 500;
}

.navbar-links {
  display: flex;
  align-items: center;
  padding: 0 45px;
}

.buziboard {
  padding-left: 15px;
  letter-spacing: 1.2px;
  font-weight: 400;
  text-decoration: none;
  color: rgb(0, 0, 0);
  /* letter-spacing: 2px; */
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.link {
  padding-left: 50px;
  letter-spacing: 1.2px;
  font-weight: 500;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.card-- {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: white;
  gap: 75px;
  margin-top: 50px;
  /* align-items: center; */
  /* margin: 30px 50px; */
}

.card-0 {
  /* padding-top: 50px; */
  width: 380px;
  height: 460px;
  -webkit-box-shadow: 0px 0px 23px 4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 0px 23px 4px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 0px 23px 4px rgba(0, 0, 0, 0.47);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.card-top {
  height: 80px;
  background-color: #757575;
  border-radius: 8px 8px 0 0;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -60px;
  border: 4px solid white;
}

.card-main {
  padding: 15px 35px;
}

.card-name {
  font-size: 25px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  font-weight: bolder;
}

.card-username {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.card-email {
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #383838;
}

.card-email:hover {
  color: black;
}

.card-address {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-more-info {
  padding: 8px 15px;
  color: #fff;
  background-color: #424242;
  border: none;
  border-radius: 12px;
  margin: 0 auto;
}

.card-website {
  height: 50px;
  background: rgb(223, 223, 223);

  margin-top: 108px;
  border-radius: 0 0 8px 8px;
}

.card-website-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
