body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  background: #ffffff;
  box-shadow: 0px 5px 7.5px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.airbnb-logo {
  width: 117;
  height: 33px;
}

.Info > img {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  width: 800px;
}

.grid {
  margin: 50px auto;
}

.Info h2 {
  text-align: center;
  font-size: 32px;
  letter-spacing: 0.3px;
}

.main-info {
  display: flex;
  justify-content: space-around;
  margin: 50px 100px 50px;
}

.content-info {
  max-width: 400px;
}

.content-info h4,
p {
  letter-spacing: 0.2px;
  line-height: 22px;
}

.card-content {
  max-width: 270px;
  margin-left: 25px;
  margin-bottom: 100px;
  padding: 20px 50px 10px 50px;
  border-radius: 25px;
  /* border: 1px solid grey; */
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5);
  background-color: rgb(237, 237, 237);
  position: relative;
}

.merch {
  width: 200px;
  height: 220px;
  border-radius: 20px;
}

.soldout-img {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
  /* background-color: #eb1414; */
  /* position: static; */
  /* position: relative; */
  /* transform: translateY(30px); */
  width: 120px;
  transform: rotate(-15deg);
}

.rating {
  display: flex;
  align-items: center;
}

.rating img {
  width: 18px;
  gap: 10px;
  margin-right: 10px;
}

span {
  color: grey;
  margin-left: 10px;
  font-weight: 400;
}

.panel {
  display: flex;
  gap: 10px;
}

.card-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: nowrap;
}
